@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;1,700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
.hero{
  padding: 15px 120px 0px 120px;
  background-color: #EEF0F1;
  width: 100%;
  height: 100vh;
}
.hero-wrapper{
  position: relative;
}
nav{
  box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 59px;
height: 70px;
background: rgba(255, 255, 255, 0.8);
border: 0.5px solid #EEF0F1;
backdrop-filter: blur(10px);
border-radius: 66px;
}
nav .logo img{
height:  24px ;
}
.links{
  margin-left: 40px;
}
.links ul li{
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}

.links ul li a{
  text-decoration: none;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #020007;
}
.card-button{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 20px 26px;
    width: 154px;
    color:  #FAFAFA;
    height: 57px;
    background: #020007;
    border-radius: 44px;
    text-align: center;

}
.card-button a{
  color:  #FAFAFA;
}
.hero-context{
  margin: auto;
  margin-top: 9%;
  width: 55%;
}
.text h1{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
text-align: center;
letter-spacing: -0.01em;

color: #020007;
line-height: 70px;
}

.text p{
  width: 65%;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
margin: auto;
font-weight: 400;
font-size: 14px;

text-align: center;

color: rgba(2, 0, 7, 0.7);
margin-top: 25px;
margin-bottom: 30px;
}
.email-list{

  position: relative;
  width: 416px;
  height: 60px;
  margin: auto;
  margin-bottom: 40px;
}
.email-list input{
  position: relative;
  width: 416px;
  height: 60px;
  padding: 15px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(39, 38, 37, 0.05);
  border-radius: 53px;
}
.email-list button{
  position: absolute;
  padding: 11px 16px;
  width: 134px;
  height: 50px;
  color: #EEF0F1;
  background: #020007;
  border-radius: 44px;
  top:5px;
  right: 5px;
  box-sizing: border-box;
}
.hero-phone{
  width: 50%;
  margin: auto;
  overflow-y: hidden;
  height: 21vh;

}
.hero-phone img{
  display: block;
  width: 90%;
 
  margin: auto;

}
.hero-img-left-1{
  position: absolute;
  top: 23%;
  left: -120px;
}
.hero-img-left-1 img{
  width: 100%;
  height: 200px;
}
.hero-img-left-2{
  position: absolute;
  left: -120px;
  top: 65%;
}
.hero-img-left-2 img{
  width: 80%;
  height: 220px;
}
.hero-img-right-1{
  position: absolute;
  right: -115px;
  top: 20%;
}
.hero-img-right-1 img{
  width: 100%;
  height: 230px;
}

.hero-img-right-2{
  position: absolute;
  right: -165px;
  top: 50%;
}
.hero-img-right-2 img{
  width: 80%;
  height: 310px;
  
  
}

/* engagement section*/
.engagement-section{
  background-color: #E4E2E9;
  padding: 8% 16%;

}
.es-text{
  width: 80%;
  
  margin: auto;
}
.es-text h1{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
text-align: center;
letter-spacing: -0.015em;
color: #010007;
}
.tt-card-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 70px;
}
.tc-img img{
  width: 50%;
  margin-bottom: 35px;
  transition: transform 1s;
}
.tap-card{
  width: 400px;
  height: 469px;
  background: #7F4AF0;
  border-radius: 20px;
  padding: 60px 40px;
  &:hover{
    img{
      -ms-transform: scale(1.1); 
      -webkit-transform: scale(1.1); 
      transform: scale(1.1); 
    }
    .tc-link{

      a{
        color: black;
        background-color: #fff;
        color:black;
        display: inline-block;
        padding: 2px 12px 5px 12px;
        border-radius: 28px;
      }
    }
  }
}
.tc-heading h6{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
letter-spacing: -0.015em;
color: #FFFFFF;
}
.tc-text p{
  margin-top: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.tc-link a{
  font-family: 'SF Pro Display';
  text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
transition:  1s;
display: inline-block;


}
.tc-link a span{
  letter-spacing: -3px;
 
}
.track-card{
  width: 400px;
  height: 469px;
  background: #405477;
  border-radius: 20px;
  padding: 60px 40px;
  position: relative;
  overflow: hidden;
  transition: transform 1s;

  &:hover{
    img{
      -ms-transform: scale(1.1); 
      -webkit-transform: scale(1.1); 
      transform: scale(1.1); 
    }
    .tc-link{

      a{
        color: black;
        background-color: #fff;
        color:black;
        display: inline-block;
        padding: 2px 12px 5px 12px;
        border-radius: 28px;
      }
    }
  }
}

/*.card-hover:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}*/
.track-img{
  overflow: hidden;
}
.track-img img{
  width: 70%;
  height: 80%;
  position: absolute;
  top: 120px;
  transition: transform 1s;
  right: -10px;
  overflow: hidden;
}
.admin-card{
  width: 830px;
  margin: auto;
  margin-top: 20px;
  padding-left: 35px;
  height: 369px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #EFF0F9;
  border-radius: 20px;
}
.admin-pretext p{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.615em;
  text-transform: uppercase;
  color: #020007;
  margin-top: 80px;
}
.admin-content{
  width: 50%;
}
.admin-heading h3{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  width: 80%;
  letter-spacing: -0.015em;
  color: #020007;
}
.admin-text p{
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.015em;

color: #020007;
}
.admin-img{
  width: 50%;
  height: inherit;
}
.admin-img img{
  object-fit: contain;
    height: inherit;
}




.join-section{
  padding: 130px 0px;
  background-color: #f5f5f7;

}
.join-heading{
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 70px;
}
.join-heading h3{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 30px;
text-align: center;
letter-spacing: -0.015em;
}
.join-heading h3 span{
  color: #7F4AF0;
}
.join-photos{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;


}
.join{
  width: 25%;
  height: 260px;
}
.join-1{
  /*margin-left: -80px;*/
}
.join-1 img{
  border-radius: 21px;
}
.join-2 img{
  border-radius: 21px;
}
.join-3 img{
  border-radius: 65px;
}
.join-4 img{
  border-radius: 22px;
}
.join-5 img{
  border-radius: 41%;
}
.join-6 img{
  border-radius: 40px;
}

.join-6{
  margin-right: -120px;
}
.join img{
  width: 100%;
  height: inherit;
  object-fit: cover;
    object-position: top;
}
.get-unox{
  padding: 100px 200px;
  background-color: black;
}
.unox-content{
  display: flex;
  gap: 20px;
}
.unox-left{
  width: 50%;

}
.ul-heading h1{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}
.ul-heading h1 span{
  opacity: 0.6;
}

.unox-right{
  width: 50%;
}
.unox-right img{
  width: 80%;
  height: 90%;
  object-fit: contain;
}
.unox-content-2{
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.uc-content{
  width: 50%;
  margin-top: -70px;
}
.uc-content a{
padding: 10px 20px;
display: inline-block;

border: 1.32px solid #FFFFFF;
border-radius: 98px;
color: #fff;
}
.uc-content h6{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -0.015em;
  color: #7F4AF0;
  margin-top: 20px;
}
.uc-content p{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.015em;
  margin-top: 10px;
  color: #FFFFFF

}
.uc-2-button a{
  padding: 15px 30px;
  color: black;
  background: #FFFFFF;
  border-radius: 44px;
  display: inline-block;
  margin-left: 120px;
}


.testimony-section{
  background-color: #f5f5f7;
  padding: 120px 50px;
  position: relative;

}
.testimony-wrapper{
  display: flex;
  gap: 45px;
  width: 60%;
  margin: auto;
  align-items: center;
}
.mySlides {
  display: none}
  /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}
.ts-img{
  width: 35%;
}
.ts-img img{
  width: 280px;
  height: 300px;
  object-fit: cover;
  border-radius: 40px;
  
}
.ts-text{
  width: 50%;
}
.ts-text h3{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 32px;

letter-spacing: -0.015em;
margin-bottom: 20px;

}
.ts-text p{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 550;
    font-size: 15px;
    letter-spacing: -0.005em;

color: #815CF3;
}
.ts-arrow-1 img{
  position: absolute;
  left: 10%;
  top: 46%;
  width: 40px;
}
.ts-arrow-2 img{
  position: absolute;
  right: 15%;
  top: 46%;
  width: 40px;
}
.recycle-section{
  background-color: #f3f0f5;
  padding: 120px 50px;
}
.rs-heading h3{
  text-align: center;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
width: 50%;
margin: auto;
margin-bottom: 30px;
font-weight: 1000;
font-size: 30px;

text-align: center;
letter-spacing: -0.015em;

color: #491860;
}
.rs-card{
  display: flex;
  gap: 45px;
  width: 60%;
  height: 350px;
  margin: auto;
  align-items: flex-end;
  padding: 20px;
  background: #491860;
  position: relative;
border-radius: 40px;
color:#fff;
overflow: hidden;
}
.rs-text{
  width: 50%;
}
.rs-text h6{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 550;
font-size: 20px;
letter-spacing: -0.015em;
color: #FFFFFF;
margin-bottom: 20px;
}
.rs-text p{
  font-family: 'Plus Jakarta Sans';
font-style: normal;

font-size: 14px;
letter-spacing: -0.025em;
color: #FFFFFF;
}
.rs-text a{
  display: inline-block;
  margin-top: 50px;
  color: white;
  margin-bottom: 25px;
}


.rs-img img{
  position: absolute;
    bottom: 0px;
    right: 40px;
       width: 33%;
}



footer{
  padding: 90px 100px;
  background: #020007;
}
.footer-heading h3{
  width:700px;
  margin: auto;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
text-align: center;
letter-spacing: -0.04em;
background: linear-gradient(95.67deg, #F4D8D9 4.51%, #FC979D 38.77%, #B4B9F3 92.22%), linear-gradient(94.41deg, #4A3C2D 4.32%, #272625 54.61%, #443524 96.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.footer-card{
  width: 90%;
  height: 443px;
  margin: auto;
  border-radius: 40px;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.07);
}
.fc-links-wrapper{
  display: flex;
  justify-content: space-between;
}
.fc-link h6{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 80px ;

color: #FFFFFF

}
.fc-link a{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
display: block;
text-decoration: none;
color: rgba(255, 255, 255, 0.7);
line-height: 40px;
cursor: pointer;
}
.fc-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

}
.fc-logo img{
  width: 80%;
}
.fc-social{
  display: flex;
    justify-content: space-between;
}
.fc-social img{
  width: 25%;
}

/*FAQ*/
.accordion {
  background-color: white;
  color: #000;
  cursor: pointer;
  padding: 18px 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius:20px;
 
}

.active, .accordion:hover {
  background-color: #fff;
}

.accordion:after {
  content: '\1F893';
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\1F891";
}

.panel {
  padding:  0px  25px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
   margin-bottom:20px;
   border-radius: 20px;
}

.faq-section{
  padding: 130px 50px;
  background-color: #f5f5f7;
}
.faq-section h3{
  text-align: center;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 30px;
margin-bottom: 40px;

text-align: center;
letter-spacing: -0.015em;
}
.faq-wrap{
  width: 60%;
  margin: auto;
}


/*team page css*/
.team-hero{
  padding: 15px 120px 0px 120px;
  background-color: #EEF0F1;
  width: 100%;
  height: 140vh;
  overflow-y: hidden;
}
.team-context{
  margin-top: 6%;
  

  
}
.team-text{
  width: 80%;
}
.team-text h1{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: -0.01em;
  color: #020007;
  line-height: 70px;
  }
  .team-text p{
    width: 70%;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 450;
    line-height: 20px;
    font-size: 15px;
    color: #020007;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .team-images{
    display: flex;
    .ti-content{
      width: 50%;
      padding-top: 40px;
      .ti-text{
        margin-top: 125px;
        h3{
          font-family: 'Plus Jakarta Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          letter-spacing: -0.015em;
          color: #2F293D;
          width: 70%;
          margin-bottom: 30px;
        }
      
      }

    }
    .ti-image{
      width: 50%;
      position: relative;
      .unox-card{
        width: 70%;
      
        position: absolute;
        top: 0px;
        right: 0px;

      }
      .unox-phone{
        position: absolute;
        width: 50%;
        top: 120px;
        right: 50px;
        
      }
    }
  }
  .team-email-list{

    position: relative;
    width: 516px;
    height: 60px;
    
    margin-bottom: 40px;
  }
  .team-email-list input{
    position: relative;
    width: 516px;
    height: 60px;
    padding: 15px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(39, 38, 37, 0.05);
    border-radius: 53px;
  }
  .team-email-list button{
    position: absolute;
    padding: 11px 16px;
    width: 200px;
    height: 50px;
    color: #EEF0F1;
    background: #020007;
    border-radius: 44px;
    top:5px;
    right: 5px;
    box-sizing: border-box;
  }

  .team-monitor-wrap{
    padding: 140px 120px 70px 120px;
    background: #E4E2E9;
    width: 100%;
    overflow-y: hidden;
    h3{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      letter-spacing: -0.015em;
      color: #020007;
      width: 80%;
      margin-bottom: 30px;
      padding-left: 30px;
    }
    .team-monitor{
      width: 100%;
      height: 550px;
      background: #2F293D;
      border-radius: 40px;
      padding: 90px 120px 0px 120px;
      img{
        width: 100%;
      }
      
    }
    .tm-highlights{
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
      margin-top: 50px;
      .tm-highlight{
        display: flex;
        gap : 20px;
        .tmh-box{
          width: 60px;
          height: 50px;
          background: #F5F5F7;
          border-radius: 10px;

        }
        .tmh-text{
          h6{
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            letter-spacing: -0.015em;           
            color: #2C293D;
            margin-bottom: 10px;
          }
          p{
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-size: 16px;
            letter-spacing: -0.015em;
            color: #2C293D;
          }
        }
      }
    }

  }


  /*pricing page*/

.pricing-hero-context{
  padding: 0px 100px 50px 100px;
  display: flex;
  .phc-text{
    width: 50%;
    padding-top: 20px;
    h3{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      letter-spacing: -0.04em;
      color: #010007;
      padding-top: 100px;
    }
  }
  .phc-image{
    width: 50%;
    img{
      width: 100%;
    }
  }

}
.price-card-section{
  padding: 50px 220px;
  .pcs-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .pcs{
      width: 30%;
      padding: 20px 30px;
      background: #E2E2E9;
      border-radius: 28px;
      position: relative;
      h6{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        letter-spacing: -0.015em;
        color: #2C293D;
      }
      .psc-button{
        margin-top: 20px;
        display: inline-block;
        padding: 7px 15px;
        background: #7F4AF0;
        border-radius: 39px;
        cursor: pointer;
        color: #FFFFFF;
      }
    }
    .pcs-1{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      letter-spacing: -0.015em;
      color: #020007;
    }
    .pcs-2{
      height: 130px;
    }
    .pcs-3{
      height: 130px;

    }
    .psc-card-1{
      height: 300px;
      h5{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: -0.015em;
        color: #2C293D
      }
      h6{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: -0.015em;
        color: #2C293D;
        margin-top: 30px;
      }
      p{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-size: 12px;
        letter-spacing: -0.015em;
        color: #2C293D;
        margin-top: 10px;
      
        width: 90%;

      }
      
    }
    .psc-card-2{
      height: 300px;
    
    }
    .psc-card-3{
      height: 300px;
    
    }
    .psc-card-4{
      height: 460px;
      h5{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: -0.015em;
        color: #2C293D
      }
      h6{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: -0.015em;
        color: #2C293D;
        margin-top: 30px;
      }
      p{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-size: 12px;
        letter-spacing: -0.015em;
        color: #2C293D;
        margin-top: 10px;
      
        width: 90%;

      }
    
    }
    .psc-card-5{
      height: 460px;
    
    }
    .psc-card-6{
      height: 460px;
    
    }
    .amt-mark-1{
      position: absolute;
      top: 200px;
      left: 47%;

    }
    .amt-mark-2{
      position: absolute;
      top: 300px;
      left: 47%;

    }
    .amt-text-wrap{
      position: absolute;
      top: 200px;
      left: 28%;
      .amt-text{
        text-align: center;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: -0.015em;
        color: #2C293D;
     }

    }
    .amt-3{
      position: absolute;
      top: 380px;
      left: 42%;
    }
    .amt-4{
      position: absolute;
      top: 380px;
      left: 42%;
    }
 
    .psc-line{
      width: 127%;
    border-bottom: 1px solid rgba(44, 41, 61, 0.1);
    margin-left: -13%;
    padding-top: 10px;
    }
    .psc-card-amount{
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
      p{
        font-size: 11px;
        letter-spacing: -0.015em;
        color: #2C293D;
        opacity: 0.7;
      }
      }
    .amt-1{
      position: absolute;
      top: 100px;
      left: 35%;
    }
    .amt-2{
      position: absolute;
      top: 200px;
      left: 35%;
    }
    .amt-cancel{
      position: absolute;
      top: 100px;
      left: 47%;
    }

  }
}


/* about page*/
.about-hero{
  padding: 15px 120px 30px 120px;
    background-color: #EEF0F1;
    width: 100%;
    height: fit-content;
  
}

.about-context{
  margin-top: 70px;
  margin-bottom: 50px;
  .about-text{
    h1{

      width: 92%;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 75px;
      letter-spacing: -0.04em;
      color: #010007;
    }
    p{
      margin-top: 30px;
      width: 60%;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #020007;

    }
  }
}
.team-story-wrap{
  padding: 50px 120px 50px 120px;
  background-color: #EEF0F1;
  width: 100%;
  height: fit-content;
}
.story-text-1{
  h3{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
width: 50%;
letter-spacing: -0.015em;
margin-bottom: 40px;
color: #020007;
  }
  p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #020007;
    width: 90%;
  }
}
.story-text-2{
  margin-top: 40px;
  h6{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
width: 50%;
letter-spacing: -0.015em;
margin-bottom: 10px;
color: #020007;
  }
  p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #020007;
    width: 90%;
  }
}
.unox-founder-wrap{
  margin-top: 40px;
  height: fit-content;
  .uf-heading h3{
    font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  width: 50%;
  letter-spacing: -0.015em;
  margin-bottom: 40px;
  color: #020007;
    }
  
}
.unox-founder{
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 440px;

  .join{
    h6{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      margin-top: 20px;
      letter-spacing: -0.015em;
     
      color: #020007;
    }
    .uf-role{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgba(39, 38, 37, 0.7);
      margin: 10px 0px;

    }
    p{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #020007;

    }

  }
}

/*faq*/
.faq-hero{
   padding: 15px 120px 0px 120px;
    background-color: #EEF0F1;
    width: 100%;
    height: fit-content;
}
.faq-hero-context{
  padding: 70px 0px;
  .fhc-text{
    width: 60%;
    margin: auto;
    h3{
      font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 50px;
letter-spacing: -0.04em;
text-align: center;
margin-bottom: 30px;
color: #010007;
    }
  .fhc-input{
    width: 100%;
    height: 60px;
    position: relative;
  }
  input{
    padding: 19px 54px;
    outline: none;
    width: 100%;
    height: 50px;
    border: 1px solid #e8e7e8;
    background: #E8E7E8;
    border-radius: 163px;

  }
  img{
    position: absolute;
    left: 20px;
    top: 15px;
    width: 20px;
    height: 20px;
  }
  }
}

.article-card-wrap{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 30px;
}
.article-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 20px;
  img {
    border-radius: 20px 20px 0 0;
  }
}

.article-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.ac-container {
  padding: 15px;
  h4{
    margin-bottom: 10px;
  }
  p{
    font-size: 12px;
    font-weight: 500px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.015em;
    color: #020007;
  }
  .article-no{
    margin-top: 15px;
    font-size: 10px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.6);
  }

}

.faq-filter-button{
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  .faq-tag{
    padding: 10px 17px;
    letter-spacing: -0.015em;
    font-size: 18px;
    color: rgba(44, 41, 61, 0.6);
    cursor: pointer;
    border-radius: 20px;
  
  }
  .faq-tag.active-2 {
    background: #7F4AF0;
    color: white;
  }
}
.faq-wrap-2{
  width: 60%;
  margin: auto;
  display: none;
}
.show{
  display: block;
}









/*privacy page*/
.privacy-hero{
  padding: 15px 120px 120px 120px;
  background-color: #EEF0F1;
  width: 100%;
  height: fit-content;
}
.privacy-hero-wrapper{
  position: relative;
}
.privacy-content{
  margin-top: 50px;
  .pc-heading h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.04em;
    color: #010007;
    margin-top: 60px;
  }
  .pr-text{
    margin-top: 50px;
    h6{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #020007;
      margin-bottom: 20px;
    }
    p{

      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.015em;
      color: #7D7C7D;

    }
    ul {
      padding-left: 30px;
      margin-top: 30px;
      
      li{
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.015em;
      color: #7D7C7D;
    }
  }
 
  }
  
}

/* contact us*/
.contact-content{
  margin-top: 120px;
  .contact-content-flex{
    display: flex;
    gap: 100px;
    .contact-content-text{
      width: 60%;
      max-width: 670px;
      h1{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 75px;
        letter-spacing: -0.04em;
        color: #010007;
        line-height: 90px;
      }
      p{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #020007;
        margin-top: 30px;
        width: 80%;
      }
    }
    .contact-content-form{
      width: 40%;
      height: 550px;
      background-color: #fff;
      border-radius: 20px;
      padding: 50px 30px;
      .input-wrap{
        margin-bottom: 10px;
        width: 100%;
        input,select{
          padding: 10px 8px 10px 14px;
          width: inherit;
          height: 47px;
          background: #FFFFFF;
          border: 1px solid rgba(39, 38, 37, 0.1);
          border-radius: 10px;
          color: rgba(18, 4, 60, 0.8);
        }
        textarea{
          padding: 10px 8px 10px 14px;
          width: 100%;
          height: 100px;
          border: 1px solid rgba(39, 38, 37, 0.1);
          border-radius: 10px;
          color: rgba(18, 4, 60, 0.8);
          
        }
      }
      .cta-btn{
        width: 100%;
        margin-top: 25px;
        button{
          padding: 10px 26px;
          width: inherit;
          height: 47px;
          border: 1px solid #6D31ED;
          background: #6D31ED;
          color: #fff;
          border-radius: 44px;
        }
      }
    }
  }

  .contact-content-company{
    width: 60%;
    margin-top: -150px;
    .ccc-flex-wrap{
      display: flex;
      gap: 10px;
      margin-top: 20px;
      img{
        padding: 10px 10px;
        background-color: #fff;
      }
    }
  }
}



/*myunox page*/
.myunox{
  padding: 15px 120px 120px 120px;
  background-color: #EEF0F1;
  width: 100%;

}
.myunox-wrapper{
  position: relative;
}
.myunox-hero{
  height: fit-content;
  padding-top: 60px;
  .myunox-hero-content{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    h3{
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 90px;
      text-align: center;
      line-height: 100px;
      letter-spacing: -0.04em;
      
      color: #010007;
      .myunox-text-img{
        width: 5%;
      }
    }
    p{
      width: 70%;
      text-align: center;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      max-width:  672.53px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      color: #020007;
    }
  }
}

.myunox-tools{
  margin-top: 120px;
}




.tt-card-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 70px;
}
.tc-img img{
  width: 50%;
  margin-bottom: 35px;
  transition: transform 400ms;
}
.unox-tap-card{
  width: 30%;
  max-width: 400px;
  height: 469px;
  background: #7F4AF0;
  border-radius: 20px;
  padding: 60px 40px;
  &:hover{
    img{
      -ms-transform: scale(1.1); 
      -webkit-transform: scale(1.1); 
      transform: scale(1.1); 
    }
    .tc-link{

      a{
        color: black;
        background-color: #fff;
        color:black;
        display: inline-block;
        padding: 2px 12px 5px 12px;
        border-radius: 28px;
      }
    }
  }
}
.tc-heading h6{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
letter-spacing: -0.015em;
color: #FFFFFF;
}
.tc-text p{
  margin-top: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.tc-link a{
  font-family: 'SF Pro Display';
  text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
transition:  1s;
display: inline-block;


}
.tc-link a span{
  letter-spacing: -3px;
 
}
.unox-track-card{
  width: 70%;
  max-width: 700px;
  height: 469px;
  background: #405477;
  border-radius: 20px;
  padding: 60px 40px;
  position: relative;
  overflow: hidden;
  transition: transform 400ms;

  &:hover{
    img{
      -ms-transform: scale(1.1); 
      -webkit-transform: scale(1.1); 
      transform: scale(1.1); 
    }
    .tc-link{

      a{
        color: black;
        background-color: #fff;
        color:black;
        display: inline-block;
        padding: 2px 12px 5px 12px;
        border-radius: 28px;
      }
    }
  }
}


.track-img{
  overflow: hidden;
}
.track-img img{
  width: 70%;
  height: 80%;
  position: absolute;
  top: 120px;
  transition: transform 1s;
  right: -10px;
  overflow: hidden;
}
.admin-card{
  width: 830px;
  margin: auto;
  margin-top: 20px;
  padding-left: 35px;
  height: 369px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #EFF0F9;
  border-radius: 20px;
}
.admin-pretext p{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.615em;
  text-transform: uppercase;
  color: #020007;
  margin-top: 80px;
}
.admin-content{
  width: 50%;
}
.admin-heading h3{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  width: 80%;
  letter-spacing: -0.015em;
  color: #020007;
}
.admin-text p{
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.015em;

color: #020007;
}
.admin-img{
  width: 50%;
  height: inherit;
}
.admin-img img{
  object-fit: contain;
    height: inherit;
}




/*unox article*/
.unox-article{
  padding: 15px 120px 120px 120px;
  background-color: #EEF0F1;
  width: 100%;

}
.unox-article-wrapper{
  position: relative;
}
.unox-article-hero{
  height: fit-content;
  margin-top: 60px;
  .breadcrumb{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #010007;
    opacity: 0.6;
    margin-bottom: 20px;
  }
  .article-hero-card{

  }
 
}



.article-hero-card{
  display: flex;
  gap: 45px;
  width: 100%;
  height: 250px;
  margin: auto;
  align-items: center;
  padding:0px 60px;
  background: #491860;
  position: relative;
border-radius: 20px;
color:#fff;
overflow: hidden;
}
.ahc-text{
  width: 60%;
}
.ahc-text h6{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 60px;
letter-spacing: -0.015em;
color: #FFFFFF;
}

.ahc-img img{

  position: absolute;
    bottom: 0px;
    right: 60px;
       width: 25%;
}